<div class="row pt-4">
	<div class="col-md-12">
		{{#if error}}
		{{else}}
		<h6>Тут будет таблица с записями</h6>
		{{/if}}
		<a href="/docs/new/" class="font-weight-bold">Внести еще одну запись</a><br>
	</div>
</div>